# requirements.txt

aiofiles
fastapi
git+https://github.com/StochasticTree/stochtree-python.git
jupyterlab
mangum
matplotlib
numpy
pandas
plotnine
pyarrow
pybind11
pyinstaller --upgrade
pytest
pyreadstat
python-multipart
scipy
seaborn
scikit-learn
uvicorn
